<div>
    <h1>
        meetings en teimpo real
    </h1>
    <p id="meetingsContent"></p>
</div>


<script src="/node_modules/socket.io/socket.io.js"></script>
<script src="/src/public/js/realTimeMeeting.js"></script>
